body{
    background-color: #ff000000;
    background-image: url(nuaiman.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font: 'Times New Roman';
    text-align: left;
}

h2{
    color: rgb(222, 245, 184);
    text-align: left;
}

p{
    color: rgb(222, 245, 184);
    background-color: rgba(1, 3, 4, 0.304);
}